# Dependencies
node_modules/
package-lock.json

# Logs
*.log
CHANGELOG.md

# Build
dist/
build/

# VS Code settings
.vscode/

# Environment variables
.env

# another one
itmo-robertparadise-pt-lab3-0.0.1.vsix
